/*Estilos index*/
* {
  box-sizing: border-box;
}
.nav_1 {
  align-content: center;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #999;
  line-height: 1.5;

  padding: 1em;
  background: rgb(227,227,227);
background: linear-gradient(180deg, rgba(227,227,227,0.8743872549019608) 16%, rgba(255,255,255,1) 66%);
}

a {
  color: #33bfd0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
a:hover {
  color: #70d2de;
}

p {
  text-align: center;
}

.grad_bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #ee7752, #03045e, #48cae4);
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
  -moz-animation: gradbar 15s ease infinite;
  animation: gradbar 15s ease infinite;
}

h1,
h2,
h3,
h4 {
  color: #333;
  text-align: center;
}

h1 {
  font-size: 2em;
  text-align: center;
  font-weight: 500;
}

h3 {
  font-size: 1.3em;
  margin: 2rem 0 0 0;
  line-height: 0.5;
  font-weight: 500;
}

header {
  text-align: center;
  color: #33bfd0;
  text-transform: uppercase;
}
header nav {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

header nav li {
  margin: 0 15px;
  display: inline-block;
}

ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  grid-area: header;
  display: grid;
  justify-items: center;
}

header nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

header nav ul {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}



.nombre_bookmark_eliminar {
  background-color: #eeeef3;
  width: 400px;
  height: 130px;
  margin: 1em auto;
  border-radius: 2em;
  box-shadow: 0px 11px 35px 4px rgba(75, 34, 34, 0.14);
}


#btn_eliminar_bookmark{
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #2e3087, #48cae4);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-left: 40%;
  font-size: 14px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}



#b_eliminar {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 0px;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 5px;
}

#btn_eliminar_buscar_bookmark {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #2e3087, #48cae4);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-left: 35%;
  font-size: 14px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.tb_eliminar_bookmarks {
  min-width: 643px;
  margin: 0 0 40px;
  padding: 0;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
tr {
  vertical-align: middle;
}
.tb_eliminar_bookmarks th,
.tb_eliminar_bookmarks td {
  padding: 10px 20px;
  text-align: lcenter;
}
th {
  color: rgb(255, 255, 255);
  min-width: 100px;
  background: linear-gradient(to right, #2e3087, #48cae4);
  font: normal normal 600 normal 11px / normal verdana;
}
.tb_eliminar_bookmarks td {
  color: #666;
}
.tb_eliminar_bookmarks tr:nth-child(even) {
  background: #eee;
}
